@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-white text-brand-900;
  }
}

@layer components {
  .section-padding {
    @apply px-6 md:px-12 lg:px-24;
  }
  
  .container-max {
    @apply max-w-7xl mx-auto;
  }
}
